[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
click = "*"
pandera = "*"
attrs = "*"
bibtexparser = "*"

[dev-packages]
mypy = "*"
black = "*"
gcon = {editable = true, path = "."}

[requires]
python_version = "3.11"

[scripts]
test = """
env \
    VALID_REFERENCE_TABLE=src/tests/mock/bipolaris-valid.tsv \
    INVALID_REFERENCE_TABLE=src/tests/mock/bipolaris-invalid.tsv \
    PARSED_REFERENCE_DATA_JSON=src/tests/mock/reference_data.json \
    CURRENT_USER_EMAIL=elias.samuel.galvao@gmail.com \
    python -m unittest
"""
